venv/
__pycache__/
*.pyc
.env
.env.local
letters_local.db
stored_pdfs/
.vscode/
.idea/
dist/
build/
*.log
.env
.env
.env
.env.local
1FU.pdf
.env.local
app/utils/__pycache__/logging.cpython-314.pyc
app/utils/__pycache__/__init__.cpython-314.pyc
app/routers/__pycache__/health.cpython-314.pyc
app/routers/__pycache__/__init__.cpython-314.pyc
app/models/__pycache__/user.cpython-314.pyc
app/models/__pycache__/monday_job_link.cpython-314.pyc
app/models/__pycache__/letter_job.cpython-314.pyc
app/models/__pycache__/__init__.cpython-314.pyc
app/__pycache__/main.cpython-314.pyc
app/__pycache__/db.cpython-314.pyc
app/__pycache__/config.cpython-314.pyc
app/__pycache__/__init__.cpython-314.pyc
